# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.npm/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env / secrets (si los agregas en el futuro)
.env
.env.local
.env.*.local

# Build / dist
dist/
build/
out/

# Pruebas
coverage/
.nyc_output/
